/*
 * Forms
 */
.input-error {
    margin-left: 0;
    margin-bottom: 0;
    padding: 2px 2px 2px 12px;
    border-radius: 0;
    border-top: none;
}


/*
 * Inventory
 */
.box-inventory .box-body dd {
    margin-bottom: 15px;
}
.box-inventory .box-footer a,
.box-inventory .box-footer button {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    #inventory-scanner {
        margin: 0 auto;
        padding-top: 120px;
        position: relative;
        width: 60%;
    }
    #inventory-scanner .alert {
        left: 0;
        position: absolute;
        top: 15px;
        width: 100%;
    }
}


/*
 * Products
 */
.media {
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
    border-radius: 2px;
    position: relative;
    width: 100%;
}
.media:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.chart > div.col-chart {
    height: 350px;
}


/*
 * Boostrap
 */
.box-tools > .dropdown {
    margin-right: -10px;
}
.box-tools > .dropdown > a {
    color: #333;
    padding: 10px;
}

.pagination + .pagination {
    padding-left: 10px;
}


/*
 * AdminLTE
 */
.box-header > .far, .box-header > .fas {
    margin-right: 5px;
}

.main-header .sidebar-toggle::before {
    content: none;
}

.nav-tabs-custom > .nav-tabs > li > a > .badge {
    margin-left: 10px;
}
.nav-tabs-custom > .nav-tabs > li > .badge {
    margin-top: 10px;
}

.navbar-quick-actions {
    float: left;
}
.navbar-quick-actions > a {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    padding: 11px 10px 9px;
}
.navbar-quick-actions > a:hover {
    background-color: #367fa9;
}

@media (max-width: 767px) {
    .navbar-quick-actions > a > span {
        display : none;
    }
}


/*
 * Debug Toolbar
 */
#pDebug #pDebugToolbarHandle {
    top: auto !important;
    bottom: 10%;
    right: auto !important;
    left: 0;
}


/*
 * Select2
 * overwritten box-shadow, border-color and border-radius to fit with Admin LTE theme
 * static/lib/select2-x.y.z/select2-bootstrap3.css
 */
.select2-results__option.select2-results__option--highlighted .text-muted {
    color: #eeeeee;
}

.select2-search input {
    border-radius: 0px !important;
}
.no-search .select2-search {
    display: none;
}

.select2-result-selectable {
    font-weight: normal;
}
.select2-result-unselectable {
    font-weight: bold;
}

.select2-container .select2-selection--single .select2-selection__clear {
    margin-right: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}
.select2-container--bootstrap .select2-selection {
    border-radius: 0;
}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection--multiple {
    height: 30px;
}
.select2-container--bootstrap .select2-selection--multiple {
    min-height: 30px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
    margin-top: 3px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin:  3px 0 0 4px;
}
